.reports-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.main-title {
    font-size: 32px;
    font-weight: bold;
    color: #242424;
    margin-bottom: 30px;
}

/* Container for both summary and breakdown */
.summary-and-breakdown-container {
    background-color: #3d635b;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;  /* Adjust the width */
}

/* Center the Breakdown title */
.centered-heading {
    text-align: center;
    margin-bottom: 10px;
}

/* Quick Summary Section */
.summary-section {
    margin-bottom: 20px;
}

.section-heading {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    width: 100%; /* Ensure full width to center text */
    display: flex;
    justify-content: center; /* Horizontally centers the text */
}

/* Aligning pseudo buttons */
.summary-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.pseudo-button {
    background-color: #b3debc;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    color: #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Breakdown Section */
.breakdown-section {
    width: 65%;  /* Adjust to make it smaller */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;    /* Centers the content horizontally */
    background-color: #b3debc;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
